  
//- extends layout
//- block content
doctype html
head
  title Sign-Up
h1 Please Sign Up
form(action='/sign-up' method='post')
  label(for='username') Username:
  input(type='text' name='username' placeholder='Username')
  label(for='password') Password:
  input(type='password' name='password' placeholder='Password')
  input(type='submit')